<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581798469216-a1nau2eem536hb1u4esmf0drp2ikluef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581798469216-a1nau2eem536hb1u4esmf0drp2ikluef</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>581798469216-dv1i63ftnd704pkef339dljnfisncmrd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAl8tW4OCa1aW0MYzx6ACH1muID9k5HUs4</string>
	<key>GCM_SENDER_ID</key>
	<string>581798469216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>smartmoon.com</string>
	<key>PROJECT_ID</key>
	<string>goodmoon1-63946</string>
	<key>STORAGE_BUCKET</key>
	<string>goodmoon1-63946.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581798469216:ios:2f9891ee0ee1acd4832d05</string>
</dict>
</plist>